{% extends 'main/base_home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="container text-center">
  <h3>Welcome {{username|capfirst}}</h3>

  {% if username == "admin" %}
  <hr> <br>
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'check-application' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/check status.png' %}" alt="Check Status">
          <div class="card-body">
            <h5 class="card-title ">
              Check application
            </h5>
            Click to view pending applications
          </div>
        </div>
      </a>
    </div>


    <div class="col-md-3">
      <a href="{% url 'register-worker' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/Add employee.jpg' %}" alt="Add employee">
          <div class="card-body">
            <h5 class="card-title ">
              Add employee
            </h5>
            Click to generate username and password for employee
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'view-employee' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/employee details.jpg' %}" alt="Employee Details">
          <div class="card-body">
            <h5 class="card-title ">
              List of employees
            </h5>
            Click to view details of employees
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'register-admin' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/Add Administrator.jpg' %}" alt="Add Administrator">
          <div class="card-body">
            <h5 class="card-title ">
              Add Administrator
            </h5>
            Click to add new administrator
          </div>
        </div>
      </a>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'view-admin' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/View Administrators.png' %}" alt="View Administrators">
          <div class="card-body">
            <h5 class="card-title ">
              View Administrators
            </h5>
            Click to view administrators
          </div>
        </div>
      </a>
    </div>
    
    <br>
    <div class="col-md-3">
      <a href="{% url 'view-record-admin' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/View Administrators.png' %}" alt="View Administrators">
          <div class="card-body">
            <h5 class="card-title ">
              View record of applications
            </h5>
            Click to view number of applications sent
          </div>
        </div>
      </a>
    </div>

  </div>
  <br><br>

  {% elif admins %}

  <hr> <br>
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'check-application' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/check status.png' %}" alt="Check Status">
          <div class="card-body">
            <h5 class="card-title ">
              Check application
            </h5>
            Click to view pending applications
          </div>
        </div>
      </a>
    </div>


    <div class="col-md-3">
      <a href="{% url 'register-worker' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/Add employee.jpg' %}" alt="Add employee">
          <div class="card-body">
            <h5 class="card-title ">
              Add employee
            </h5>
            Click to generate username and password for employee
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'view-employee' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/employee details.jpg' %}" alt="Employee Details">
          <div class="card-body">
            <h5 class="card-title ">
              List of employees
            </h5>
            Click to view details of employees
          </div>
        </div>
      </a>
    </div>


  <br>
    <div class="col-md-3">
      <a href="{% url 'view-record-admin' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/View Administrators.png' %}" alt="View Administrators">
          <div class="card-body">
            <h5 class="card-title ">
              View record of applications
            </h5>
            Click to view number of applications sent
          </div>
        </div>
      </a>
    </div>
  </div>

  {% else %}

  <hr> <br>
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'create-application' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/sendLeaveApplication.jpg' %}" alt="Image of an Umbrella">
          <div class="card-body">
            <h5 class="card-title ">
              Send leave application
            </h5>
            Click to send leave application
          </div>
        </div>
      </a>
    </div>



    <div class="col-md-3">
      <a href="{% url 'pending-application' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/pendingApplication.jpg' %}" alt="Pending Image">
          <div class="card-body">
            <h5 class="card-title ">
              Pending Applications
            </h5>
            Click to view pending applications
          </div>
        </div>
      </a>
    </div>


    <div class="col-md-3">
      <a href="{% url 'accepted-application' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/Accepted.jpg' %}" alt="A Green tick">
          <div class="card-body">
            <h5 class="card-title ">
              Accepted Applications
            </h5>
            Click to view accepted applications
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'rejected-application' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/Rejected.jpg' %}" alt="Rejected sign">
          <div class="card-body">
            <h5 class="card-title ">
              Rejected Applications
            </h5>
            Click to view Rejected applications
          </div>
        </div>
      </a>
    </div>
  </div>
 
  <br>
  <div class ="row">
    <div class="col-md-3">
      <a href="{% url 'edit-details' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/PersonalDetails.jpg' %}" alt="Image of a Diary">
          <div class="card-body">
            <h5 class="card-title ">
              View personal details
            </h5>
            Click to view personal details
          </div>
        </div>
      </a>
    </div>

    <br>
    <div class="col-md-3">
      <a href="{% url 'view-record' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/View Administrators.png' %}" alt="View Administrators">
          <div class="card-body">
            <h5 class="card-title ">
              View record of applications
            </h5>
            Click to view number of applications sent
          </div>
        </div>
      </a>
    </div>
  
  </div>
<br><br>
  {% endif %}

</section>
{% endblock content %}