{% extends 'main/base.html' %}
{% block content%}
        <br><br>
        <table>
            <thead>
                <tr>
                    <td>Worker</td>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Date Created</td>
                    <td>Status</td>
                    <td> Change status</td>
                </tr>
            </thead>
            {% for application in applications %}
            <tr>
                <td>{{application.worker}}
                <td>{{application.title}}</td>
                <td>{{application.description}}</td>
                <td>{{application.date_created}}</td>
                <td>{{application.status}}</td>
                <td>
                    <a href = "{% url 'accept-application' application.id %}">
                        {% if application.status == "Accepted" %}
                            <input class="form-check-input" type="checkbox" value="" checked >
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="" >
                            {% endif %}
                            <label class="form-check-label text-light" for="flexCheckDefault">
                                Accept
                            </label>
                    </a>
                    <a href = "{% url 'reject-application' application.id %}">
                        {% if application.status == "Rejected" %}
                            <input class="form-check-input" type="checkbox" value="" checked >
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="" >
                            {% endif %}
                            <label class="form-check-label text-light" for="flexCheckDefault">
                                Reject
                            </label>
                    </a>
                </td>
                        
            {% endfor %}
{% endblock %}  