{% extends 'main/base.html' %}
{% block content%}
       
        <br><br>
        <table>
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Date Created</td>
                    <td>Status</td>
                </tr>
            </thead>
            {% for application in applications %}
            <tr>
                <td>{{application.title}}</td>
                <td>{{application.description}}</td>
                <td>{{application.date_created}}</td>
                <td>{{application.status|capfirst}}</td>
            {% endfor %}
{% endblock %}  